<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Oningo</title>
    <script src='../javascripts/jquery.min.js'></script>
    <script src='../javascripts/friends.js'></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">



    <!--加载meta IE兼容文件-->

<body>
<h1>Oningo</h1>
<div class="header">

    <div class="menu-btn">
        <div class="menu"></div>
    </div>
    <div class="nav">
        <a href="http://localhost:3000/homepage">SearchingNotes</a>
        <a href="http://localhost:3000/homepage/Mynotes">MyNotes</a>
        <a href="http://localhost:3000/homepage/Filters">Filters</a>
        <a href="http://localhost:3000/homepage/Friends" class="active">Friends</a>
        <a href="http://localhost:3000/homepage/Profile">Profile</a>
    </div>

</div>



<div class="content">
    <div class="cont w1000">
        <h1>Add Friends</h1>
        <div style="text-align: center"> <span>Friends's name</span>  <input type="text" id="FriendName"> <button id="add">Add</button></div>
        <button id="ListFriends">List Friends</button>
        <div id="Friends"></div>

    </div>
</div>





</body>
</html>
