<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Oningo</title>

    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">



    <!--加载meta IE兼容文件-->

<body>
<h1>Oningo</h1>
<div class="header">

    <div class="menu-btn">
        <div class="menu"></div>
    </div>
    <div class="nav">
        <a href="http://localhost:3000/homepage">SearchingNotes</a>
        <a href="http://localhost:3000/homepage/Mynotes">MyNotes</a>
        <a href="http://localhost:3000/homepage/Filters">Filters</a>
        <a href="http://localhost:3000/homepage/Friends">Friends</a>
        <a href="http://localhost:3000/homepage/Profile" class="profile">Profile</a>
    </div>

</div>



<div class="content">
    <div class="cont w1000">

        <div style="text-align: center"> <span>Change Your State</span>  <input type="text" id="stateName">

                <button id ="change" style="text-align: center; width: 100px;height: 30px"> Change</button>

        </div>

        <div style="text-align: center">
        <button id ="logout" style="text-align: center; width: 200px;height: 50px;margin: 50px;" >Logout</button>
        </div>

    </div>
</div>




<script src='../javascripts/jquery.min.js'></script>
<script src='../javascripts/profile.js'></script>
</body>
</html>